<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <h1>Comments</h1>
    <a href="/comments/new">New Comment</a>

    <%for (let comment of comments) {%>
        <h3><%= comment.username%></h3>
        <p><%= comment.comment%></p>
        <a href="/comments/<%= comment.id%>">View Comment</a>
        <hr>
    <%}%>
    
</body>
</html>