<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    <h1>New Comment</h1>
    <form action="/comments" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="">
        <div>
            <label for="comment">New Comment</label>
            <br>
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
        </div>
        <button>Post Comment</button>
    </form>
    
</body>
</html>